/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Sivun värit
==================================================
Pääpaneeli #2d2010
Etusivun keltainen #f4eade
Käyty linkki #f07272
Oranssi #ebd8c0

================================================== */

/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */

	:root {
		 --primary-color: #2d2010;
		 --secondary-color: #536390;
		 --font-color: #424242;
		 --title-color: #261b0d;
		 --h4-color: #543d1f;
		 --h5-color: #543d1f;
		 --h6-color: #fff;
		 --bg-color: #fff;
		 --flex-color: #dbcab6;
		 --header-color: #261b0d;
		 --figure-color: #f9efe3 url(../images/rausch.png) repeat;
		 --figureborder-color: #f0dec8;
		 --copyright-color: #1b1309;
		 --blogdate-color: #f9efe3;
		 --intro-color: #dbcab6;
		 --tabhover-color: #33c4ff;
		 --tabactive-color: #f4eade;
	}

	[data-theme="dark"] {
		 --primary-color: #e6e6e6;
		 --secondary-color: #818cab;
		 --font-color: #e1e1ff;
		 --title-color: #f07272;
		 --h4-color: #a3a3a3;
		 --h5-color: #a3a3a3;
		 --h6-color: #f07272;
		 --bg-color: #fff;
		 --flex-color: #dbcab6;
		 --header-color: #121212;
		 --figure-color: #2e2e2e;
		 --figureborder-color: #f07272;
		 --copyright-color: #2e2e2e;
		 --blogdate-color: #c0c0c0;
		 --intro-color: #2e2e2e;
		 --tabhover-color: #f07272;
		 --tabactive-color: #c0c0c0;

	}

/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, footer, details, figcaption, figure, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
/*overflow-x: hidden;*/}
ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
    text-align: center;
    background-color:#fff;
		color: var(--font-color);


}
td {
  background: var(--bg-color);

}
td img {
    vertical-align:middle;
  background: var(--bg-color);
}

tr{
    vertical-align:middle;

}
th {
  position: sticky;
  top: 0px;
  background: var(--header-color);
  color: #fbe6cb;
}
.humans { display: none !important }

}
.htext  { font-size: 0; }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* Darktheme stuff
================================================== */


nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}


/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none !important
}

.slideri {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slideri:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slideri {
  background-color: #f07272;
}

input:checked + .slideri:before {
  transform: translateX(26px);
}

.slideri.round {
  border-radius: 34px;
}

.slideri.round:before {
  border-radius: 50%;
}


/* hämykuva */
#spider img {
 max-width: 50%;
 height: auto;
}

/* blogiviiva */
div.line {
    position: relative;
    display: inline-block;
		opacity: 40%;
    width: 100%;
    border-bottom: 2px solid #2d2010;
}

/* popup hidden on default */
div#popup { display: none; }

/* use a media query to filter small devices */
@media only screen and (max-device-width:480px) {
    /* show the popup */
    div#popup { display: block; }
}

/*Sivunvaihto*/

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
  background-color:#2d2010;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pcenter {
    text-align: center !important;}


/*kuvat*/

#kuva a.small, #picture a.small:visited { display:block;  text-decoration:none; background: var(--bg-color); top:0; left:0; border:0;}
#kuva a img {border:0;}

#kuva a .large {display:block; position:absolute; width:0; height:0; border: 0; top:0; left:0;}
#kuva a.small:hover .large {display:block; position:fixed; top: 50%; left: 50%; width: auto; height: 500px; margin-top: -250px; margin-left:-350px; }

#kuva a .taika {display:block; position:absolute; width:0; height:0; border:0; top:0; left:0;}
#kuva a.small:hover .taika {display:block; position:fixed; top: 50%; left: 50%; width: auto; height:500px; margin-top: -250px; margin-left:-400px; }

/*sielunratsastus table*/

table#palkinnot {
	border-collapse: collapse;
	width: 70%;
	margin-left:15%;
margin-right:15%;
}

th, td #palkinnot  {
	padding: 1px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

table#tehut {
	border-collapse: collapse;
	width: 100%;
}

th, td #tehut {
	padding: 1px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

/* Sielunratsastus tabit */
.tab {
  overflow: hidden;
  border: none;
  background-color: var(--bg-color);
}

/* Style the buttons inside the tab */
.tab button {
  background-color: var(--flex-color);
  color: var(--font-color);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-family:'Oswald', serif;
  text-transform: uppercase;


}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--tabhover-color);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--tabactive-color);
  color: black;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;

  background-color: var(--bg-color);
  border-top: none;
}

.checked {
  color: orange;
}


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-right: 200px;
  padding: 1px 16px;

}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


/* #Basic Styles
================================================== */
body {
	font: 12px Arial, Helvetica, sans-serif;
	line-height: 20px;
	color: var(--font-color);
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
}
html {

	background-color: var(--bg-color);
 	color: var(--font-color);
/*overflow-x: hidden;*/ }
/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
	color: var(--title-color);
	font-family:'Oswald', serif;
	font-weight: normal;
	text-transform:uppercase;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
	color: #f07272;
}
h1 {
	font-size: 48px;
	margin-bottom: 20px;
}
h2 {
	font-size: 30px;
	margin-bottom:10px;
}
h3 {
	font-size: 22px;
	margin-bottom: 10px;
}
h4 {
	font-size: 18px;
	margin-bottom: 10px;
	text-transform:capitalize;
	color: var(--h4-color);
}
h5 {
	font-size: 15px;
	margin-bottom: 10px;
	color: var(--h5-color);
}
h6 {
	font-size: 14px;
	margin-bottom: 10px;
	color: var(--h6-color);
}
.subheader {
	color: #261b0d;
}
p {
 color: var(--primary-color);
	line-height:1.5em;
	font-size:14px;
	margin: 0 0 15px 0;

	font-family: Arial, Helvetica, sans-serif;
}
p.last {
	margin-bottom:0;
}
p img {
	margin: 0;
}
img.left {
	float: left;
	margin-bottom: 20px;
	margin-right: 20px;
}
img.right {
	float: right;
	margin-bottom: 20px;
	margin-left: 20px;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
small {
	font-size: 80%;
}

/* Text Selection */

::selection {
background: #f9efe3;
color: #261b0d; /* Safari */
}
::-moz-selection {
background: #f9efe3;
color: #261b0d; /* Firefox */
}
/* #Links
================================================== */
a, a:visited {
	color:#f07272;
	text-decoration: none;
	outline: 0;
}
p a, p a:visited {
	line-height: inherit;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}
/* #Forms
================================================== */

/* General Forms */

form {
	margin-bottom: 0px;
}
fieldset {
	margin-bottom: 20px;
}
label, legend {
	display: block;
	font-weight: bold;
	font-size: 13px;
	color: var(--font-color);

}
input[type="checkbox"] {
	display: inline;

}

label span, legend span {
	font-weight: normal;
	font-size: 13px;
	color: #444;

}
input[type="text"], input[type="password"], input[type="email"], textarea, select {
	padding: 10px 10px;
	outline: none;
	overflow: hidden;
	font: 12px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: var(--font-color);
	margin: 0;
	width: 198px;
	max-width: 100%;
	display: block;
	margin-bottom: 10px;
	background: var(--figure-color);
}
select {
	padding: 0;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
	border: 1px solid #bbb;
	color: #555;

}
textarea {
	min-height: 100px;
}
select {
	width: 220px;
}


/* Header Responsive Menu Form Style */

.header form {
	margin-bottom: 15px;
}
#header select {
	-webkit-appearance: none;
	padding: 10px;
	outline: none;
	border:1px solid #22180b;
	overflow: hidden;
	font: 12px Arial, Helvetica, sans-serif;
	max-width: 100%;
	display: block;
	background:#483319 url(../images/navselect.gif) no-repeat right center;
	color: #fff;
}
#header option {
	outline: none;
	border: 0;
	overflow: hidden;
	font: 12px Arial, Helvetica, sans-serif;
	max-width: 100%;
	display: block;
	padding-left: 15px;
}
/* #Misc
================================================== */
.remove-bottom {
	margin-bottom: 0 !important;
}
.half-bottom {
	margin-bottom: 10px !important;
}
.add-bottom {
	margin-bottom: 20px !important;
}
.left {
	float: left;
}
.right {
	float: right;
}

/* #Language
================================================== */
/* Style The Dropdown Button */

.dropbtn {
	background-color: #f4eade;
	color: black;
	padding: 12px;
	font-size: 14px;

	border: none;
	cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	left: 6.5em;
	display: none;
	visibility: hidden;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: white;
}

@media only screen and (max-width: 767px) {
.dropdown {
visibility: visible;
display: inline-block;
height: 0;
}
}


@media only screen and (max-width: 767px) {
#languagemenu {
visibility: hidden;
display: none;

}
}
#languagemenu{
	position: absolute;
  right: -15em;
	top:3em;
}
