html{
    font-size: 16px;
}

body{
  background-color: #2F4172;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

.container{
  width: 100%;
  margin: 3.2rem auto 0 auto;

}


@media(min-width: 576px){
  .container{
    max-width: 540px;
  }
}

@media(min-width: 768px){
  .container{
    max-width: 720px
  }
}

header{
    text-align: center;
    margin-bottom: 1.5rem;
}


#form{
 background-color: #4F608F;
   padding: 2.3rem 0.5rem;

}

.form-input{
   margin: 0 2.5rem 0.7rem 2rem;

}

.form-input-size{
   display: block;
   width: 100%;
   height: 1.5rem;
   padding: 0.3rem 0.4rem;
   border-radius: 0.2rem;
   outline: 0;
   border-style: none;
   margin-top: 0.4rem;


}
table{

  table-layout: fixed;
   width: 60%;
   margin-left: 0.3rem;
   margin-top: 0.5rem;
}

th {

  color: white;
  font-size: 12px;
  padding: 0.7rem 1.2rem;


}

th {

  color: white;

}

label {
  float: left;
  width: 7em;
  margin-right: 1em;

}

span {

  color: white;
  font-size: 16px;
  padding: 0.7rem 2rem;
}
